/[Bb]uild/
/[Bb]uilds/
/[Ll]ibrary/
/[Ll]ogs/
/[Oo]bj/
/[Tt]emp/

/Assets/AssetStoreTools*
/.vs/
/.idea/

*.csproj
*.unityproj
*.booproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.svd

/Assets/StreamingAssets/*
!/Assets/StreamingAssets/.gitkeep
/ProjectSettings/ProjectVersion.txt
/Packages/*
/UserSettings/*
/UnityPackageManager/*

/HybridCLRData/LocalIl2CppData/
/HybridCLRData/il2cpp_plus_repo/
/HybridCLRData/hybridclr_repo/
/HybridCLRData/AssembliesPostIl2CppStrip/
/HybridCLRData/HotfixDlls/